body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #0f0f0f;
    color: #fff;
    margin: 0;
    padding: 0;
}
header {
    background: linear-gradient(90deg, #ffcc00, #ff9900);
    text-align: center;
    padding: 15px;
}
nav a {
    color: #000;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}
section {
    max-width: 1000px;
    margin: auto;
    padding: 25px;
}
.promocion {
    background-color: #1a1a1a;
    padding: 15px;
    border: 1px solid #ffcc00;
    border-radius: 10px;
    text-align: center;
}
.galeria img {
    width: 30%;
    border-radius: 10px;
}
.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #25D366;
    color: white;
    padding: 15px;
    border-radius: 50%;
    text-decoration: none;
}
footer {
    background-color: #111;
    color: #ffcc00;
    text-align: center;
    padding: 15px;
}
